<li>
    <label for="question">
        Question
    </label>
    <textarea id="question" 
        name="question">{{ question.question }}</textarea>
</li>
<li>
    <label for="answers">
        Nombre de Réponses
    </label>
    <input id="answers" 
        name="answers" 
        type="number"
        min="2"
        max="8"
        value="{{ question.answers }}"
        required>
</li>
<li>
    <label for="answer_1">
        Réponse 1
    </label>
    <textarea id="answer_1" 
        name="answer_1" 
        required>{{ question.answer_1 }}</textarea>
</li>
<li>
    <label for="value_1">
        Valeur 1
    </label>
    <input id="value_1" 
        name="value_1" 
        type="number"
        min="0"
        max="5"
        value="{{ question.value_1 }}"
        required>
</li>
<li>
    <label for="answer_2">
        Réponse 2
    </label>
    <textarea id="answer_2" 
        name="answer_" 
        required>{{ question.answer_2 }}</textarea>
</li>
<li>
    <label for="value_2">
        Valeur 2
    </label>
    <input id="value_2" 
        name="value_2" 
        type="number"
        min="0"
        max="5"
        value="{{ question.value_2 }}"
        required>
</li>
<li>
    <label for="answer_3">
        Réponse 3
    </label>
    <textarea id="answer_3" 
        name="answer_3">{{ question.answer_3 }}</textarea>
</li>
<li>
    <label for="value_3">
        Valeur 3
    </label>
    <input id="value_3" 
        name="value_3" 
        type="number"
        min="0"
        max="5"
        value="{{ question.value_3 }}">
</li>
<li>
    <label for="answer_4">
        Réponse 4
    </label>
    <textarea id="answer_4" 
        name="answer_4">{{ question.answer_4 }}</textarea>
</li>
<li>
    <label for="value_4">
        Valeur 4
    </label>
    <input id="value_4" 
        name="value_4" 
        type="number"
        min="0"
        max="5"
        value="{{ question.value_4 }}">
</li>
<li>
    <label for="answer_5">
        Réponse 5
    </label>
    <textarea id="answer_5" 
        name="answer_5">{{ question.answer_5 }}</textarea>
</li>
<li>
    <label for="value_5">
        Valeur 5
    </label>
    <input id="value_5" 
        name="value_5" 
        type="number"
        min="0"
        max="5"
        value="{{ question.value_5 }}">
</li>
<li>
    <label for="answer_6">
        Réponse 6
    </label>
    <textarea id="answer_6" 
        name="answer_6">{{ question.answer_6 }}</textarea>
</li>
<li>
    <label for="value_6">
        Valeur 6
    </label>
    <input id="value_6" 
        name="value_6" 
        type="number"
        min="0"
        max="5"
        value="{{ question.value_6 }}">
</li>
<li>
    <label for="answer_7">
        Réponse 7
    </label>
    <textarea id="answer_7" 
        name="answer_7">{{ question.answer_7 }}</textarea>
</li>
<li>
    <label for="value_7">
        Valeur 7
    </label>
    <input id="value_7" 
        name="value_7" 
        type="number"
        min="0"
        max="5"
        value="{{ question.value_7 }}">
</li>
<li>
    <label for="answer_8">
        Réponse 8
    </label>
    <textarea id="answer_8" 
        name="answer_8">{{ question.answer_8 }}</textarea>
</li>
<li>
    <label for="value_8">
        Valeur 8
    </label>
    <input id="value_8" 
        name="value_8" 
        type="number"
        min="0"
        max="5"
        value="{{ question.value_8 }}">
</li>
