{% extends 'layout/layout.twig' %}

{% block title %}Resources{% endblock %}

{% block summary %}Resource {{ resource.category }} for Asperger Syndrome{% endblock %}

{% block main %}
    <main>
        {% for category, resourceCategory in resources %}
        <section>
            <h2>{{ category }}</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for resource in resourceCategory %}
                    <tr>
                        <td>
                            <a class="button-blue" href="https://{{ resource.link }}" title="https://{{ resource.link }}">
                                <strong>{{ resource.name }}</strong>
                            </a>
                        </td>
                        <td>{{ resource.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        {% endfor %}
    </main>
{% endblock %}
