{% extends 'layout/layout.twig' %}

{% block title %}Administration{% endblock %}

{% block summary %}{% endblock %}

{% block main %}
    <input id="menu-radio1" class="menu-radio1" type="radio" name="menu" checked>
    <input id="menu-radio2" class="menu-radio2" type="radio" name="menu">

    <nav class="menu">
        <label class="button-red" for="menu-radio1" title="Show Tests">
            <i class="fas fa-question-circle color-red-into"></i>
            <span class="color-red-into">Tests</span>
        </label>
        <label class="button-blue" for="menu-radio2" title="Show Users">
            <i class="fas fa-users color-blue-into"></i>
            <span class="color-blue-into">Users</span>
        </label>
    </nav>

    <main id="admin" class="menu-relay">
        <section class="menu-target1">
            <h2 class="deco-under color-green">
                <i class="fas fa-question-circle"></i>
                Tests
            </h2>
            <a class="btn-green btn-lg" href="{{ url('tests!create') }}">New Test Question</a>
            <table class="table">
                <thead>
                <tr>
                    <th>Question</th>
                    <th>Infos</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for test in allTests %}
                    <tr>
                        <td>{{ test.question }}</td>
                        <td>{{ test.category }}{{ test.number }}<hr>{{ test.answer }}</td>
                        <td>
                            <a class="btn-blue" href="{{ url('tests!update', {'id': test.id}) }}">
                                <i class="fas fa-pen-square fa-fw fa-lg"></i>
                            </a>
                            <a class="btn-red" href="{{ url('tests!delete', {'id': test.id}) }}">
                                <i class="fas fa-times-circle fa-fw fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <section class="menu-target2">
            <h2 class="deco-under color-purple">
                <i class="fas fa-users"></i>
                Users
            </h2>
            <a class="btn-green btn-lg" href="{{ url('users!create') }}">New User</a>
            <table class="table">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Infos</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in allUsers %}
                    <tr>
                        <td>
                            <figure>
                                <img class="bord-purple" src="img/users/{{ user.image }}" alt="Screenshot of {{ user.name }}">
                                <figcaption>{{ user.name }}</figcaption>
                            </figure>
                        </td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a class="btn-orange" href="{{ url('auth!logout') }}" title="Logout">
                                <i class="fas fa-sign-out-alt fa-fw fa-lg"></i>
                            </a>
                            <a class="btn-blue" href="{{ url('users!update', {'id': user.id}) }}">
                                <i class="fas fa-pen-square fa-fw fa-lg"></i>
                            </a>
                            <a class="btn-red" href="{{ url('users!delete', {'id': user.id}) }}">
                                <i class="fas fa-times-circle fa-fw fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
