<section class="menu-target7">
    <h2>
        <i class="fas fa-user-cog"></i> 
        Utilisateurs
    </h2>

    <a class="btn-green btn-lg" 
        href="{{ url('user!create') }}">
        Nouvel Utilisateur
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Courriel</th>
            </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr>
                <td>
                    <figure>
                        <img class="bord-violet" 
                            src="img/user/{{ user.image }}" 
                            alt="Photo de {{ user.name }}">
                        <figcaption>
                            {{ user.name }}
                        </figcaption>
                    </figure>
                </td>
                <td>
                    {{ user.email }}
                    <br>
                    <a class="btn-blue" 
                        href="{{ url('user!update', {'id': user.id}) }}"
                        title="Modifier l'Utilisateur">
                        <i class="fas fa-pen-square fa-fw fa-lg"></i>
                    </a>
                    <a class="btn-red" 
                        href="{{ url('user!delete', {'id': user.id}) }}"
                        title="Supprimer l'Utilisateur">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
