{% extends 'layout/layout.twig' %}

{% block title %}Edit a Test Question{% endblock %}

{% block summary %}{% endblock %}

{% block main %}
    <main class="align-center">
        <form class="form" method="post" action="{{ url('tests!update', {'id': test.id}) }}">
            <fieldset>
                <legend>
                    <i class="fas fa-question-circle fa-2x"></i>
                </legend>
                <ul>
                    <li>
                        <label for="category">Category*</label>
                        <input id="category" name="category" type="text" maxlength="2" required value="{{ test.category }}">
                    </li>
                    <li>
                        <label for="number">Number*</label>
                        <input id="number" name="number" type="number" maxlength="2" min="1" max="100" required value="{{ test.number }}">
                    </li>
                    <li>
                        <label for="answer">Answer*</label>
                        <input id="answer" name="answer" type="number" min="0" max="1" required value="{{ test.answer }}">
                    </li>
                    <li>
                        <label for="question">Question*</label>
                        <input id="question" name="question" type="text" maxlength="120" required value="{{ test.question }}">
                    </li>
                </ul>
                <ul>
                    <li>
                        <input type="reset" value="Reset">
                        <input type="submit" value="Update">
                    </li>
                </ul>
            </fieldset>
        </form>
        <a class="btn-black btn-lg" href="{{ url('admin') }}">Quit</a>
    </main>
{% endblock %}
