{% extends 'layout/layout.twig' %}

{% block title %}Test {{ info.category }}{% endblock %}

{% block summary %}Test {{ info.category }} pour le Syndrome d'Asperger{% endblock %}

{% block main %}
    <main>
        <section>
            <h2>Quotient {{ info.category|replace({'AQ': "Autistique", 'EQ': "Empathique", 'SQ': "Méthodique Révisé"}) }}</h2>

            {% if not score %}
                <form method="post" action="{{ url('test', {'category': info.category}) }}">
                    <label for="score_type">Méthode de Calcul :</label>
                    <select id="score_type" class="mar-bot-lg" name="score_type">
                        <option value="1" 
                            {% if info.score_type is odd %}selected{% endif %}>
                            (fort) = (faible)
                        </option>
                        <option value="2"
                            {% if info.score_type is even %}selected{% endif %}>
                            (fort) = 2*(faible)
                        </option>
                    </select>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Question</th>
                            <th>Réponse</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for question in test %}
                            <tr>
                                <td>
                                    <label for="id_{{ question.id }}">{{ question.id }}</label>
                                    <input id="id_{{ question.id }}" type="hidden" name="id_{{ question.id }}" value="{{ question.id }}">
                                </td>
                                <td>
                                    <label class="font-sans-serif" for="question_{{ question.id }}">{{ question.question }}</label>
                                    <input id="question_{{ question.id }}" type="hidden" name="question_{{ question.id }}" value="{{ question.question }}">
                                </td>
                                <td>
                                    <select class="font-cursive" name="answer_{{ question.id }}" required>
                                        <option value="" selected>-- Votre réponse</option>
                                        <option value="1">D'accord</option>
                                        <option value="2">Plutôt d'accord</option>
                                        <option value="3">Plutôt pas d'accord</option>
                                        <option value="4">Pas d'accord</option>
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input class="mar-bot-lg" type="submit" value="Calculer !">
                </form>
                <p>{{ info.author }} ({{ info.year }}) traduit par {{ info.translation_author }} ({{ info.translation_year }})</p>
            {% else %}
                {{ include('front/result.twig') }}
            {% endif %}
        </section>
    </main>
{% endblock %}
