{% extends 'layout/layout.twig' %}

{% block title %}Test {{ info.category }}{% endblock %}

{% block summary %}Test {{ info.category }} pour le Syndrome d'Asperger{% endblock %}

{% block main %}
    <main>
        <section>
            <h2>Quotient {{ info.category|replace({'AQ': "Autistique", 'EQ': "Empathique", 'FQ': "Amitié & Relation", 'SQ': "Méthodique Révisé"}) }}</h2>

            {% if not score %}
                <form method="post" action="{{ url('test', {'category': info.category}) }}">
                    <label for="score_type">Méthode de Calcul :</label>
                    <select id="score_type" class="mar-bot-lg" name="score_type">
                        <option value="1" 
                            {% if info.score_type is odd %}selected{% endif %}>
                            (fort) = (faible)
                        </option>
                        <option value="2"
                            {% if info.score_type is even %}selected{% endif %}>
                            (fort) = 2*(faible)
                        </option>
                    </select>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Question</th>
                            <th>Réponse</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for question in test %}
                            <tr>
                                <td>{{ question.id }}</td>
                                <td>
                                    <label for="{{ question.id }}">{{ question.question }}</label>
                                </td>
                                <td>
                                    <select id="{{ question.id }}" name="{{ question.id }}" required>
                                        <option value="" selected>-- Votre réponse</option>
                                        <option value="{% if question.answer is odd %}2{% else %}0{% endif %}">D'accord</option>
                                        <option value="{% if question.answer is odd %}1{% else %}0{% endif %}">Plutôt d'accord</option>
                                        <option value="{% if question.answer is even %}1{% else %}0{% endif %}">Plutôt pas d'accord</option>
                                        <option value="{% if question.answer is even %}2{% else %}0{% endif %}">Pas d'accord</option>
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input class="mar-bot-lg" type="submit" value="Calculate !">
                </form>
            {% else %}
                {{ include('front/result.twig') }}
            {% endif %}
        </section>
    </main>
{% endblock %}
