{% extends 'layout/layout.twig' %}

{% block title %}Test {{ infos.category }}{% endblock %}

{% block summary %}Test {{ infos.category }} pour le Syndrome d'Asperger{% endblock %}

{% block main %}
<main id="test">
    <nav class="sidebar">
        <a href="#test" 
            title="Retour en haut de page">
            <i class="fas fa-chevron-circle-up fa-lg fa-fw"></i>
        </a>
    </nav>

    <section>
        <h2>
            Quotient {{ infos.category|replace({
                'AQ': "Autistique", 
                'EQ': "Empathique", 
                'SQ': "Méthodique Révisé"
            }) }}
        </h2>

        {% if not score %}
            <form method="post" 
                action="{{ url('test', {'category': infos.category}) }}">
                
                <label for="score_type">
                    Méthode de Calcul :
                </label>

                <select id="score_type" 
                    class="mar-bot-lg" 
                    name="score_type">

                    <option value="1" 

                        {% if infos.score_type is odd %}
                            selected
                        {% endif %}>

                        (fort) = (faible)
                    </option>

                    <option value="2"

                        {% if infos.score_type is even %}
                            selected
                        {% endif %}>

                        (fort) = 2*(faible)
                    </option>
                </select>
                <table class="table">

                {% for question in test %}
                    <tr>
                        <td>
                            <label class="font-sans-serif" 
                                for="question_{{ question.id }}">
                                {{ question.id }}. 
                                {{ question.question }}
                            </label>

                            <input id="id_{{ question.id }}" 
                                type="hidden" 
                                name="id_{{ question.id }}" 
                                value="{{ question.id }}">

                            <input id="question_{{ question.id }}" 
                                type="hidden" 
                                name="question_{{ question.id }}" 
                                value="{{ question.question }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="font-cursive" 
                                name="answer_{{ question.id }}" 
                                required>

                                <option value="" 
                                    selected>
                                    -- Votre réponse
                                </option>

                                <option value="1">
                                    D'accord
                                </option>
                                <option value="2">
                                    Plutôt d'accord
                                </option>
                                <option value="3">
                                    Plutôt pas d'accord
                                </option>
                                <option value="4">
                                    Pas d'accord
                                </option>
                            </select>
                        </td>
                    </tr>
                {% endfor %}

                </table>

                <input class="btn-blue btn-lg" 
                    type="submit" 
                    value="Calculer !">
            </form>
            <p>
                {{ infos.author }} 
                ({{ infos.year }}) 
                traduit par 
                {{ infos.translation_author }} 
                ({{ infos.translation_year }})
            </p>
            
        {% else %}
            {{ include('front/result.twig') }}
        {% endif %}
    </section>
</main>
{% endblock %}
