{% extends 'layout/layout.twig' %}

{% block title %}Test {{ info.category }}{% endblock %}

{% block summary %}Test {{ info.category }} pour le Syndrome d'Asperger{% endblock %}

{% block main %}
    <main>
        <section class="container-90md-80lg">
            <h2>Quotient {{ info.category|replace({'AQ': "Autistique", 'EQ': "Empathique", 'FQ': "Amitié & Relation", 'SQ': "Méthodique Révisé"}) }}</h2>

            {% if not score %}
                <form method="post" action="{{ url('test', {'category': info.category}) }}">
                    <table class="table">
                    {% for question in test %}
                        <tr>
                            <td class="font-sans-serif">
                                <label for="{{ question.id }}">{{ question.id }}. {{ question.question }}</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-cursive">
                                <input id="question_{{ question.id }}_answer_1" type="radio" name="question_{{ question.id }}" value={{ question.value_1 }} required>
                                <label for="question_{{ question.id }}_answer_1">{{ question.answer_1 }}</label>
                                <br>                                
                                <input id="question_{{ question.id }}_answer_2" type="radio" name="question_{{ question.id }}" value={{ question.value_2 }} required>
                                <label for="question_{{ question.id }}_answer_2">{{ question.answer_2 }}</label>
                                <br>

                            {% if question.answers > 2 %}
                                <input id="question_{{ question.id }}_answer_3" type="radio" name="question_{{ question.id }}" value={{ question.value_3 }} required>
                                <label for="question_{{ question.id }}_answer_3">{{ question.answer_3 }}</label>
                                <br>
                            {% endif %}

                            {% if question.answers > 3 %}
                                <input id="question_{{ question.id }}_answer_4" type="radio" name="question_{{ question.id }}" value={{ question.value_4 }} required>
                                <label for="question_{{ question.id }}_answer_4">{{ question.answer_4 }}</label>
                                <br>
                            {% endif %}

                            {% if question.answers > 4 %}
                                <input id="question_{{ question.id }}_answer_5" type="radio" name="question_{{ question.id }}" value={{ question.value_5 }} required>
                                <label for="question_{{ question.id }}_answer_5">{{ question.answer_5 }}</label>
                                <br>
                            {% endif %}

                            {% if question.answers > 5 %}
                                <input id="question_{{ question.id }}_answer_6" type="radio" name="question_{{ question.id }}" value={{ question.value_6 }} required>
                                <label for="question_{{ question.id }}_answer_6">{{ question.answer_6 }}</label>
                                <br>
                            {% endif %}

                            {% if question.answers > 6 %}
                                <input id="question_{{ question.id }}_answer_7" type="radio" name="question_{{ question.id }}" value={{ question.value_7 }} required>
                                <label for="question_{{ question.id }}_answer_7">{{ question.answer_7 }}</label>
                                <br>
                            {% endif %}

                            {% if question.answers > 7 %}
                                <input id="question_{{ question.id }}_answer_8" type="radio" name="question_{{ question.id }}" value={{ question.value_8 }} required>
                                <label for="question_{{ question.id }}_answer_8">{{ question.answer_8 }}</label>
                                <br>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                    <input class="mar-bot-lg" type="submit" value="Calculer !">
                </form>
                <p>{{ info.author }} ({{ info.year }}) traduit par {{ info.translation_author }} ({{ info.translation_year }})</p>
            {% else %}
                {{ include('front/result.twig') }}
            {% endif %}
        </section>
    </main>
{% endblock %}
