<nav class="navbar">
    <input id="navbar-close" type="radio" name="navbar" checked>
    <input id="navbar-open" type="radio" name="navbar">

    <a class="anima-slipR" href="./" title="Accueil">
        <img src="img/logo.svg" alt="Logo Phi" width="30px" height="30px">
    </a>

    <ul>
        <li>
            <a href="{{ url('test', {'category': 'AQ'}) }}" 
                title="Quotient Autistique">
                <i class="fas fa-user-astronaut fa-lg"></i>
                <span>AQ</span>
            </a>
        </li>
        <li>
            <a href="{{ url('test', {'category': 'EQ'}) }}" 
                title="Quotient Empathique">
                <i class="fas fa-user-nurse fa-lg"></i>
                <span>EQ</span>
            </a>
        </li>
        <li>
            <a href="{{ url('test', {'category': 'FQ'}) }}" 
                title="Quotient Amitié & Relation">
                <i class="fas fa-users fa-lg"></i>
                <span>FQ</span>
            </a>
        </li>
                <li>
            <a href="{{ url('test', {'category': 'SQ'}) }}" 
                title="Quotient Méthodique Révisé">
                <i class="fas fa-user-cog fa-lg"></i>
                <span>SQ-R</span>
            </a>
        </li>
    </ul>

    <ul class="anima-slipL">
        <li>
            <a class="color-blue-onto" 
                href="{{ url('contact') }}" 
                title="Contact">
                <i class="fas fa-at fa-lg"></i>
            </a>
        </li>
        <li>
            <a class="color-magenta-onto" 
                href="https://github.com/sponsors/philippebeck" 
                title="Sponsor">
                <i class="far fa-heart fa-lg"></i>
            </a>
        </li>
        <li>
            <a class="color-tw-onto" 
                href="https://paypal.me/philippebeck" 
                title="Donation">
                <i class="fab fa-paypal fa-lg"></i>
            </a>
        </li>
    </ul>

    <label for="navbar-close" title="Close the Navigation Menu">
        <i class="fas fa-angle-double-up fa-lg"></i>
    </label>
    <label for="navbar-open" title="Open the Navigation Menu">
        <i class="fas fa-angle-double-down fa-lg"></i>
    </label>
</nav>
