{% extends 'layout/layout.twig' %}

{% block title %}Test {{ test.category }}{% endblock %}

{% block summary %}Test {{ test.category }} pour le Syndrome d'Asperger{% endblock %}

{% block main %}
    <main>
        {% for category, testCategory in test %}
            <section>
                <h2>Quotient {{ category|replace({'AQ': "Autistique", 'EQ': "Empathique", 'SQ': "Méthodique"}) }}</h2>

                {% if not score %}
                    <form method="post" action="{{ url('tests!read', {'category': category}) }}">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Question</th>
                                <th>Réponse</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for question in testCategory %}
                                <tr>
                                    <td>{{ question.number }}</td>
                                    <td>
                                        <label for="{{ category }}{{ question.number }}">{{ question.question }}</label>
                                    </td>
                                    <td>
                                        <select id="{{ category }}{{ question.number }}" name="{{ category }}{{ question.number }}">
                                            <option value="{% if question.answer is odd %}1{% else %}0{% endif %}">D'accord</option>
                                            <option value="{% if question.answer is even %}1{% else %}0{% endif %}">Pas d'accord</option>
                                        </select>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <input type="submit" value="Calculate !">
                    </form>
                {% else %}
                    <p>Your score is {{ score }} !</p>
                {% endif %}
            </section>
        {% endfor %}
    </main>
{% endblock %}
